* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: url("assets/background.jpg");
    background-size: auto 100vh;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 2vw 0 1.5vw;
    text-align: center;
}

.wrapper {
    padding: 2rem 5vw;
    background: rgba(0,0,0,0.25);
    border-radius: 1rem;
    box-shadow: 0 0.4rem 3rem rgb(0 0 0 / 10%);
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "mem-img mem-img"
                         "mem-text slider";
    justify-content: center;
    row-gap: 0.3rem;
    align-items: center
}

.mem-img img {
    max-height: 60vh;
    max-width: 38vw;
    height: 100%;
    padding: 0.1rem;
}


.mem-img img.show, .mem-text.show {
    opacity: 0;
    animation: show 1s;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.mem-img {
    grid-area: mem-img;
    width: 40vw;
    text-align: center;
    background: rgb(255,255,255);
    border-radius: 1rem;
    max-height: 60vh;
}

.mem-text {
    grid-area: mem-text;
    padding: 0.35rem;
    color: #263f40;
}

.slider {
    display: inline-flex;
    justify-content: flex-end;
    grid-area: slider;
}

.slider-element button {
    padding: 0.35rem;
    border-radius: 50%;
    border: 0.2rem solid cadetblue;
    background: cadetblue;
    transition: 0.5s;
}

.slider-element:hover button {
    background: aliceblue;
    border-color: aliceblue;
}

.slider-element.active button {
    background: none;
    border-color: aliceblue;
}

.slider-element.active:hover button {
    background: aliceblue;
}

.slider-element {
    padding: 0.5rem;
}

footer {
    margin-top: 4vh;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

footer a:hover {
    color: cadetblue;
}

@media screen and (max-width: 1300px) {
    .wrapper {
        width: 70vw;
    }

    .mem-img {
        width: 60vw;
    }

    .mem-img img {
        max-width: 58vw;
    }
}

@media screen and (max-width: 870px) {
    .wrapper {
        width: 85vw;
    }

    .mem-img {
        width: 75vw;
    }

    .mem-img img {
        max-width: 73vw;
    }

    .slider-element {
        padding: 0.4rem;
    }
}

@media screen and (max-width: 600px) {
    .mem-text {
        font-size: 0.8rem;
    }

    .mem-img {
        width: 80vw;
    }

    .slider-element button {
        padding: 0.25rem;
        border: 0.15rem solid cadetblue;
    }
}

@media screen and (max-width: 412px) {
    .wrapper {
        grid-template-areas:
                        "mem-img"
                        "slider"
                        "mem-text ";
    }

    .slider {
        justify-content: center;
    }
}

@media screen and (max-width: 260px) {
    .slider-element button {
        padding: 0.15rem;
        border: 0.08rem solid cadetblue;
    }

    .slider-element {
        padding: 0.25rem;
    }
}

@media screen and (max-width: 150px) {
    .slider-element button {
        padding: 0.05rem;
        border: 0.05rem solid cadetblue;
    }

    .slider-element {
        padding: 0.15rem;
    }
}